
*.prefs
*.class
investorMicroService/.classpath
investorMicroService/.factorypath
investorMicroService/.project
repaymentMicroService/.classpath
repaymentMicroService/.project
repaymentMicroService/.factorypath
.vscode/settings.json
*.properties
*.json

loanapplicationmicroservice/.classpath
loanapplicationmicroservice/.factorypath
loanapplicationmicroservice/.project
loanapplicationmicroservice/.classpath
loanapplicationmicroservice/target/
loanapplicationmicroservice/.factorypath
*.jar
*.html
*.log

reconcileMicroService/target/
reconcileMicroService/.classpath
reconcileMicroService/.factorypath
reconcileMicroService/.project
investorMicroService/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
